<p><%= @email %>様</p>

<p>@@@へようこそ。</p>

<p>以下のリンクをクリックして今すぐ@@@を始めましょう！</p>
<p><%= link_to '自分のアカウントを確認', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>※このメールに心当たりのない方はお手数ですが本メールを破棄して下さい。</p>
<p>※このメールはシステムによって自動配信されています。返信することは出来ません。</p>
