<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <hr>

      <h1>Header / h1</h1>
      <h2>Header / h2</h2>
      <h3>Header / h3</h3>
      <h4>Header / h4</h4>
      <h5>Header / h5</h5>
      <div class="fs-1">Font size / .fs-1</div>
      <div class="fs-2">Font size / .fs-2</div>
      <div class="fs-3">Font size / .fs-3</div>
      <div class="fs-4">Font size / .fs-4</div>
      <div class="fs-5">Font size / .fs-5</div>

      <hr>

      <div class="fc-1 my-1">Font color / .fc-1</div>
      <div class="fc-2 my-1">Font color / .fc-2</div>
      <div class="fc-3 my-1">Font color / .fc-3</div>
      <div class="fc-4 my-1">Font color / .fc-4</div>
      <div class="fc-5 my-1">Font color / .fc-5</div>

      <div class="fc-1 smooth bg-black my-1">Font color / .fc-1</div>
      <div class="fc-2 smooth bg-black my-1">Font color / .fc-2</div>
      <div class="fc-3 smooth bg-black my-1">Font color / .fc-3</div>
      <div class="fc-4 smooth bg-black my-1">Font color / .fc-4</div>
      <div class="fc-5 smooth bg-black my-1">Font color / .fc-5</div>

      <hr>

      <div class="bg-brown smooth p-0 fc-5 my-1">Padding / .p-0</div>
      <div class="bg-brown smooth p-1 fc-5 my-1">Padding / .p-1</div>
      <div class="bg-brown smooth p-2 fc-5 my-1">Padding / .p-2</div>
      <div class="bg-brown smooth p-3 fc-5 my-1">Padding / .p-3</div>
      <div class="bg-brown smooth p-4 fc-5 my-1">Padding / .p-4</div>
      <div class="bg-brown smooth p-5 fc-5 my-1">Padding / .p-5</div>

      <hr>

      <div class="bg-brown smooth mb-0 fc-5 p-2">Margin / .m-0</div>
      <div class="bg-brown smooth mb-1 fc-5 p-2">Margin / .m-1</div>
      <div class="bg-brown smooth mb-2 fc-5 p-2">Margin / .m-2</div>
      <div class="bg-brown smooth mb-3 fc-5 p-2">Margin / .m-3</div>
      <div class="bg-brown smooth mb-4 fc-5 p-2">Margin / .m-4</div>
      <div class="bg-brown smooth mb-5 fc-5 p-2">Margin / .m-5</div>
      <div class="bg-brown smooth p-2 fc-5 ">Dummy</div>

    </div>
  </div>
</div>